.heading {
    /* background-color: rgb(117, 241, 241); */
    width: 1000px;
    height: auto;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 0;
    /* margin: 150px 500px;  */
    /* display: flex; */
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.btn-add-wrap {
    display: flex;
    justify-content: flex-end;
}

.btn-add {
    width: 100px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    background-color: rgb(47, 211, 121);
    text-decoration: none;
    /* text-align: right; */
}



.user-list {
    /* background-color: rgb(117, 241, 241); */
    width: 1000px;
    height: auto;
    margin-top: 0px;
    margin-left: 100px;
    text-align: center;
    padding-top: 35px;
}

.user-item {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-userList {
    width: 100px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 30px;
    background-color: rgb(186, 211, 47);
    text-decoration: none;
    
}

.btn-delete {
    /* width: 100px; */
    /* height: 25px; */
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    padding: 9px 17px 5px;
    background-color: rgb(219, 68, 41);
    text-decoration: none;
    border-style: none;
    margin-bottom: -2px;
}